$tileSize: 7vw;

.gameContainer {
  height: 100vh;
  width: 100vw;
  background: #33a3ff;
  display: flex;
  align-items: center;
  justify-content: center;  
}


.boardContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: -$tileSize / 3.9;
}

.tile {
  height: $tileSize;
  width: $tileSize;
  margin-left: $tileSize / -7;
  overflow: visible
}

.vertex {
}

.playersContainer {
  position: absolute;
  height: 90vh;
  width: 20vw;
  left: 4.5vh;
  top: 4.5vh;
  background: rgba(0, 0, 0, 0.2);
  border: white solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.playerContainer {
  opacity: 0.8;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &:hover{
    opacity: 1;
  }
  .playerIconContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .playerIcon {
      width: 100%;
      height: 100%;
    }
  }
  
  .playerInfoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    
    .playerName {
      margin-top: 10px;
      font-size: 2em;
      font-weight: bold;
    }
    
    .playerDetails {
      
    }
  }

}