$wheatColor: yellow;
$tileBorderColor: black;
$tileSize: 10vw;

@keyframes shrink {
  
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.6;
  }

  100% {
    height: 10%;
    width: 10%;
    opacity: 1;
  }

}

.gameContainer {
  height: 100vh;
  width: 100vw;
  background: #33a3ff;
  display: flex;
  align-items: center;
  justify-content: center;  
}


.boardContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: -$tileSize / 3.9;
}

.tile{
  height: $tileSize;
  width: $tileSize;
  margin-left: $tileSize / -7;
}